.App {
  text-align: center;
  /* margin: auto; */

}

.container {
  width: 450px;
  margin: 20px auto;
  color: white;
  background-color: #0F303B;
  border-radius: 10px;
  padding: 5px 0;
}

.main-form .input {
  width: 60%;
  height: 30px;
}

.main-form input:focus {
  outline: none;
}

.main-form button {
  background-color: #800080;
  font-size: large;
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  color: white;
}

.list-todo {
  display: flex;
  border: 2px solid grey;
  margin: 10px 8px;
  padding: 5px 8px;
  border-radius: 5px;
}

.list-todo .todo-item {
  font-weight: bold;
  font-size: large;
  width: 75%;
}

.list-btn button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: larger;

}

.list-btn button:nth-child(1) {
  color: #DEBE2E;
}

.list-btn button:nth-child(2) {
  color: #16A9A2;
}

.list-btn button:nth-child(3) {
  color: #FF796D;
}

.total {
  background-color: #EAEAEA;
  color: black
}

.btn-clear {
  background-color: purple;
  color: white;
  font-size: large;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
}

.completed {
  background-color: green;
  border: 2px solid grey;
  margin: 10px 8px;
  padding: 5px 8px;
  border-radius: 5px;
}

.completed .list-btn {
  display: none;
}